<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>BundleIsRelocatable</key>
        <false/>
        <key>BundleHasStrictIdentifier</key>
        <true/>
        <key>RootRelativeBundlePath</key>
        <string>Video Transcriber.app</string>
        <key>BundleIdentifier</key>
        <string>com.elsa.videotranscriber</string>
        <key>BundleVersion</key>
        <string>1.0.0</string>
    </dict>
</array>
</plist> 